.markdown table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.markdown th, .markdown td {
    padding: 15px;
    border: 1px solid #ddd;
}

.markdown p {
    line-height: 1.5; /* control line spacing within the paragraph */
    margin-bottom: 0.0 .1em; /* control margin between paragraphs */
}

.markdown pre {
    font-size: clamp(2px, 2vw, 12px); /* control text size inside SyntaxHighlighter */
}